<h1 align="center">List of books</h1>

<form method="get" action="{{ path('search_book_by_ref') }}">
  <div>
    <label for="ref">Ref</label>
    <input
      type="text"
      name="ref"
      id="ref"
      value="{{ app.request.query.get('ref') }}"
    />
    <button type="submit">Search</button>
  </div>
</form>

{% if tabBooks is empty %}
<h1>No Books found</h1>
{% else %} {% set published_Book=0 %} {% set unpublished_Book=0 %}
<table align="center" border="1">
  <tr>
    <td>Ref</td>
    <td>Title</td>
    <th>Publication date</th>
    <th>Published</th>
    <th>Category</th>
    <th>Author</th>
    <th>Actions</th>
  </tr>
  {% for book in tabBooks %} {% if book.published == true %} {% set
  published_Book=published_Book+1 %} {% else %} {% set
  unpublished_Book=unpublished_Book+1 %} {% endif %}
  <tr>
    <td>{{ book.ref }}</td>
    <td>{{ book.title }}</td>
    <td>{{ book.publicationDate | date }}</td>
    <td>{{ book.published }}</td>
    <td>{{ book.category }}</td>
    <td>{{ book.author.username }}</td>
    <td>
      <a href="{{ path('book_update', { ref: book.ref }) }}">edit</a>
      <a href="{{ path('delete_book', { ref: book.ref }) }}">delete</a>
      <a href="{{ path('show_book', { ref: book.ref }) }}">show</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
<a align="center" href="#">Add Book</a>
<h5>published_Book = {{ published_Book }}</h5>
<h5>unpublished_Book = {{ unpublished_Book }}</h5>
